<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Data Visualizer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="content">
        <h1 class="home-title"><span class="vibe">Vibe</span>Check</h1>
        <div class="container">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
            <br>
            <a href="{{ url_for('login') }}" class="btn">
                Login with Spotify
                <img src="{{ url_for('static', filename='images/spotify_logo.png') }}" alt="Spotify Logo" class="btn-logo">
            </a>
            <p class="subtext">What's your <span class="index-vibe-text">vibe</span>?</p>
            <div class="info-text">
                <p>Created by <span class="highlight">Matt Lally</span></p>
                <p>Your data is never stored</p>
                <p>Made possible by <span class="highlight">Spotify's API</span></p>
            </div>
        </div>
    </div>
</body>
</html>
